
h1 {
    color: #00CC00;
    text-align: center;
    margin: 1.5rem;
}

body {
     background: #404040;
}

form.vgg-form {
    margin: 0 auto;
    width: 30%;
    justify-content: center;
    padding: 20px 30px;
    background: #FFFFFF
}

.vggform {
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
   /* align-items: center; */
}

#submit {
    background: #00CC00;
    border: none !important;
    padding: 0.5rem;
    margin: auto;
}

input, select {
    width: 100%;
    padding: .4rem;
    box-sizing: border-box;
}

 div.vgg-form {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;


