
* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #009900;
    margin: 1.5rem;
}

body {
    background: url("VGG-vibranium-1.jpg") repeat-x;
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    position: center; 
    background-size: cover;
    animation: slide 20s infinite linear;
}

form.vgg-form {
    margin: 0 auto;
    width: 30%;
    justify-content: center;
    padding: 20px 30px;
    border: none;
    opacity: 0.75;
    filter: alpha(opacity=50); 
}

label {
    display: inline-block;
    color: #000000;
}

.vggform {
    width: 25vw;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
   /* align-items: center; */
}

#submit {
    background: #009900;
    border: none !important;
    padding: 0.5rem;
    margin: auto;
    transition: background-color 1s ease-out;
}

#submit:hover {
    background-color: #00FF00;
}

input, select {
    width: 100%;
    padding: .3rem;
    margin: 0;
    box-sizing: border-box;
}

input, text {
    width: 100%;
    padding: .3rem;
    background: A0A0A;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    transition: background-color .5s ease-out;
}

input:focus {
  background-color: #000000;
  color: #FFFFFF;
}

/* div.vgg-form {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden; */


/* animation features */

@keyframes slide {
    0%   { background-position: 0 0; }
    100% { background-position: -500px 0; }
}


